<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @entry.text %>
</p>

<h2>Comments</h2>
  <% @entry.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @entry, @entry.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.text_area :body, placeholder: "Leave a comment here" %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Edit', edit_entry_path(@entry) %>
<%= link_to 'Back', entries_path %>