<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @entry.text %>
</p>

<h2>Comments</h2>
<%= render @entry.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_entry_path(@entry) %>
<%= link_to 'Back', entries_path %>